.app__header {
    width: 100%;
    min-height: auto;
    position: relative;
    font-family: var(--font);
    color: white;
}

.app__header-content {
    max-width: 600px;
    margin: 6rem 5rem;
}

.header_text {
    font-family: var(--font);
    font-size: 50px;
}

.app__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    gap: 1.5rem;
}

.app__btn-container a {
    padding: 8px 0;
    width: 155px;
    text-align: center;
    font-size: 13px;
    background: #FFFFFF4D;
    border-radius: 50px;
}

.app__btn-container a:last-child {
    background: var(--gradientbg);
}

.header__top {
    position: absolute;
    top: -75px;
    left: 0;
    width: 230px;
}

.header__bottom {
    position: absolute;
    bottom: -3rem;
    right: 0;
    width: 700px;
}


@media screen and (max-width: 820px) {
    .app__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app__header-content {
        max-width: 450px;
        margin: 0;
    }

    .app__btn-container {
        justify-content: start;
    }

    .header_text {
        font-size: 2.3rem;
    }

    .header__bottom,
    .header__top {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .app__header-content {
        max-width: 550px;
        margin: 0;
    }

    .header_text {
        font-size: 2rem;
    }
}